[GdmGreeterTheme]
Greeter=Pokemon.xml
Name=Pokemon
Description=Simple theme
Author=ORIGINALLY...Giuseppe Pantanetti <gpantanetti@gmail.com>
Copyright=(c) 2008 Giuseppe Pantanetti
Screenshot=screenshot.jpg
